@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.swiper-slide, .swiper-slide-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: transparent; 
  border: 3px solid #2b4eff; 
  border-radius: 50%;
  width: 18px;
  height: 18px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #2b4eff;
  border: none; 
}

.studentSwiper .swiper-wrapper,
.teacherSwiper .swiper-wrapper{
  padding-bottom: 40px;
}

.studentSwiper .swiper-pagination{
  display: flex;
  left: 0;
  padding: 0 0 10px 20px;
}
